<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
      <!--h3>{{artists[whichItem].reknown}}</h3>-->
      <img ng-src="images/cute_animals/{{artists[whichItem].image_name}}" alt="Photo of {{artists[whichItem].name}}">
      <div class="bio">{{artists[whichItem].fun_fact}}</div>

    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>

<div ng-show={{ocelotMagic}}>
  <p>within the div</p>
  <h1>CAN YOU SEE THIS??? </h1>
</div> 