<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
      <!--h3>{{artists[whichItem].reknown}}</h3>-->
      <img ng-src="images/cute_animals/{{artists[whichItem].image_name}}" alt="Photo of {{artists[whichItem].name}}">
      <div class="bio">{{artists[whichItem].fun_fact}}</div>
      <youtube ng-if="ocelotMagic" width="640" height="390" videoid="FwPaES_mP3E"></youtube>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>